body {
  color: red;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 4rem;
}

/* @media all and (max-width: 500px) {
  body {
    color: blueviolet;
  }
} */

@media (max-width: 500px) {
  body {
    color: blueviolet;
  }
}

@media print {
  body {
    color: limegreen;
  }
}

@media (orientation: landscape) {
  .title {
    color: green;
  }
}
@media (orientation: landscape) and (max-width: 600px) {
  .subtitle {
    color: yellow;
  }
}
@media (orientation: portrait), (max-width: 600px) {
  .title {
    color: rgb(40, 221, 209);
  }
}
